include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
recursive-include doc *
recursive-include tests *
recursive-include endless_pagination/static *
recursive-include endless_pagination/locale *
recursive-include endless_pagination/templates *