include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
recursive-include doc *
recursive-include endless_pagination/media *
recursive-include endless_pagination/locale *
recursive-include endless_pagination/templates *